body {
    font-family: 'Merriweather', serif;
}

main {
    max-width: 1320px;
    margin: auto;
}

.head-banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner_Image.png');
    height: 600px;
    border-radius: 16px;
    margin: 50px;
}

.head-title {
    text-align: center;
}

.new-para {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
    padding-bottom: 0px;
}

.title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    padding-left: 344px;
    margin-top: 0px;

}

/* 65 off section */
.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;

}

.section-offer {
    text-align: center;
    margin-top: 120px;
}

.offer-para {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;
}

.offer-discription {
    color: #070211;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
}

.offer-img {
    margin-top: 48px;
}

/* welcome section */

.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    height: 600px;
    border-radius: 16px;
    margin: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;

}

.welcome-text-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
    padding-left: 100px;
    padding-top: 100px;
    margin-bottom: 0px;

}

.welcome-img {
    padding-top: 68px;
}

.welcome-discription {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 24px;
    padding-left: 100px;
    margin-bottom: 0px;
}

.join-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48PX;
    margin-left: 100PX;
    background-color: yellowgreen;
    border: none;
}
.join-btn:hover{
    background-color:rgba(184, 18, 18, 0.767);
}
/* anounsment  */

.join {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 480px;
    margin: 80px;
}

.join-discription p {
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.join-discription {
    padding-top: 120px;
    ine-height: 56px;
}

.p-color {
    color: #F00;
}

/* 3 head */
.welcome-offer {
    background-color: white;
    height: 480px;
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
}

/* .circleimg-here {
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border: 10px solid #F00;
    border-radius: 50%;
    background-image: url('../resources/Ellipse_1.png');
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 360;
} */
.circle-image {
    border: 15px solid #F00;
    height: 463px;
    width: 463px;
    margin-left: 10px;
    border-radius: 50%;
}

.circleimg-here {
    background-image: url('../resources/Ellipse_1.png');
    width: 364.844px;
    height: 364.844px;
    padding: 49.8px;
    background-repeat: no-repeat;
    background-position: center;

}

.fast-para {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 0px;

}

.fast-come-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fast-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-top: 4px;
}

.year {
    color: #F00;

    font-size: 48px;
    font-weight: 700;
    padding-left: 90px;
}

.scnd-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 90px;
}

.year-img {
    padding-left: 90px;
}

.img-class {}

/* holiday section styles */
.Holiday-section {
    background: blueviolet;
    height: 1050px;
    position: relative;
    margin: 80px;

}

/* .holiday-bottom-img {
    background-image: url('../resources/Rectangle2.png');
    height: 229px;
    width: 1120px;
    position: absolute;
    background-position: bottom;

     
}  */
.holiday-all-text {
    text-align: center;
}

.sort-title {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.main-title {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.holiday-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin-top: 28px;
}

.flex-div{
    display: flex;
    position: relative;
}
.right-img-h{
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width: 429px;
    height: 433px;
    position: absolute;
    right: 0px;
    bottom: 0px;
     
}
 
 
 .another-div{
    position: relative;
 }
.bottom-pic{
    background-image: url('../resources/Rectangle2.png');
    width: 1165px;
    height: 229px;
}

/* block section here */
.block {
    height: 1000px;
    margin: 120px 80px 80px 80px;
    background-color: #FFF;
}

.box-text {
    text-align: left;
}

.block-fast-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.block-mian-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0px;
}

.block-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.block-all-img {
    display: flex;
    gap: 24px;
    padding: 0px;
}
/* img hover */
.box{
    position: relative;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
     
}
.box:before{
    content: '';
    position: absolute;
    background-color: yellowgreen;
    width: 424px;
    height: 450px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .4s linear;
    border-radius: 30px;
}
.box:hover:before{
    opacity: 1;
}
.box img{
    width: 424px;
    height: 450px;
    transition: all .4s linear;
}

.box:hover img{
    opacity: 0;
    transform: scale(3);
}
.box h3{
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 50%;
    left: 0;
    transition: all .4s linear;
}
.box:hover h3{
    transform: translateY(-50%) scale(1);
}

/* Subcribe Section */

.sub-background {
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: auto;
    text-align: center;
}
.sub-background:hover img{
    opacity: 0;
    transform: scale(3);
}

.subcribe {
    margin-top: 120px;
    text-align: center;
}

.sub-img {
    margin: 80px 585px 0px 585px;
    padding-top: 80px;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    width: 512px;
    margin-left: 404px;
    margin-bottom: 0px;
}

.sub-discription {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-left: 212px;
    margin-top: 0px;
}

.sub-email {
    width: 438px;
    height: 72px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sub-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.sub-btn:hover {
    background-color: yellowgreen;
}

.sub-btn-flid {
    margin-top: 48px;
}

/* Footer Section */

.footer {
    background-color: #070211;
    height: 690px;
    margin-top: 960px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    margin: 120px 140px 0px 120px;
    padding-top: 120px;
}
.left-text-para{
    color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 40px;
width: 375px;
 
}
.footer-right-text{
    color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 40px;

}
.right-fast-para{
    margin-bottom: 0px;
    width: 195px;
}
.right-scnd-para{
    margin-top: 0px;
    width: 211px;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.horizontal-line{
    margin: 50px 140px 50px 140px;
    
}
.bottom-text{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    margin: 0px 140px 0px 140px;
     
}
.bottom-leftptext{
font-size: 24px;
font-weight: 500;
width: 295px;
}
.bottom-btn{
    color: #FFF;
font-size: 24px;
font-weight: 500;
width: 145px;
background-color: #070211;
border: none;
}
.bottom-btn:hover{
    background-color: yellowgreen;
}
.social-links li:hover{
    background-color: yellowgreen;
}